@import "./variables";

.main_contactanos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario{
    width: 90%;
    padding-bottom: 20px;
}
.formulario_items{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.consultas{
    width: 100%;
}
.dato {
    display: block;
    width: 60%;
    padding: 10px;
    margin: 10px auto;
}
.contenedor_boton{
    padding-top: 10px;
    padding-bottom: 10px;
}
.titulo{
    display: block;
    width: 50%;
    padding: 10px;
    margin: 10px auto;
    font-size: x-large;
    text-align: center;
    border-bottom: inset $secondary;
}

.contenedor_boton{
    input{
    color: $colorletras;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    box-shadow:0 0 40px 40px $primary inset, 0 0 0 0 $primary;
    transition: all 150ms ease-in-out;
    border-color: $secondary;
    &:hover{
         box-shadow:0 0 10px 0 $primary inset, 0 0 10px 4px $primary;;
    }
}
}
