.estilolinkmain{
    color: black;
    font-size: large;
    text-decoration:none;
}
.estiloboton{
        color: black;
        padding: 10px;
        text-transform: uppercase;
        font-weight: bold;
        border-radius: 4px;
        cursor: pointer;
        box-shadow:0 0 40px 40px #FFAFAF inset, 0 0 0 0 #FFAFAF;
        transition: all 150ms ease-in-out;
        border-color: #FF9999;
        &:hover{
             box-shadow:0 0 10px 0 #FFAFAF inset, 0 0 10px 4px #FFAFAF;;
        }
}