@import "./variables.scss";

.estilolinkmain{
    color: $colorletras;
    font-size: large;
    text-decoration:none;

}
.estilo_titulos{
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    color: $colorletras;
}
.estiloboton{
    color: $colorletras;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    box-shadow:0 0 40px 40px $primary inset, 0 0 0 0 $primary;
    transition: all 150ms ease-in-out;
    border-color: $secondary;
    &:hover{
         box-shadow:0 0 10px 0 $primary inset, 0 0 10px 4px $primary;;
    }
}

