@import "./variables.scss";
@import "./node_modules/bootstrap/scss/bootstrap.scss";


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: #FBFFE2;
}

.collapse{
    ul{
        list-style-type: none;
        padding-left: 0px;
        margin-bottom: 0px;
        li{
            border:inset #FF9999;
            padding: 0.5rem;
            
            a{
                text-decoration:none;
                text-transform: uppercase;
                color: black;
            }
            &:hover{
                background: #FF9999;
            }
        }
    }
}
/* --------MAIN---------- */
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main_imagen{
    margin-top: 2rem;
    margin-right:2rem;
    margin-left: 2rem;
    img{
        width: 100%;
    }

}
.main_historia{
    margin: 2rem;
    text-align: justify;
}
.main_link{
    border: inset #FFAFAF;
    margin-bottom: 2rem;
    a{
        color: black;
        font-size: large;
        text-decoration:none;
    }
}

.main_video{
    margin-right:2rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
    width: 90%;
    iframe{
        width: 100%;
    }
}

/*---------------MEDIA-------------------*/
@media screen and (min-width:769px) {
    .header_nav{
        background-image: url("/assets/img/header.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        justify-content: center;
        ul{
            list-style-type: none;
            padding: 2rem;
            li{
                display: inline-block;
                margin-top: 1rem;
                a{
                    text-decoration:none;
                    text-transform: uppercase;
                    color: black;
                    background-color:#FFAFAF;
                    padding: 0.5rem;
                }
             }
         }
    }
    .main{
        display: grid;
        grid-template-areas: 
        "foto" "texto"
        "boton" "video";
        grid-template-columns: 1fr 1.5fr;
        grid-template-rows: 2fr 1.5fr;
        justify-items: center;
        margin-top: 1rem;
        gap: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
        
    }
   
}
    